[submodule "ext/voro"]
	path = ext/voro
	url = https://github.com/eleftherioszisis/voro.git
	branch = dev
[submodule "ext/nanobind"]
	path = ext/nanobind
	url = https://github.com/wjakob/nanobind.git
	branch = v1.0
